<h1>TO DO LIST :</h1>
<ul>
  <%  @tasks.each do |task| %>
  <li><%= task.completed %> -
  <%= link_to task.title, task_path(task.id) %>
  // <%= link_to 'Delete', task_path(task.id),
            method: :delete,
            data: { confirm: "Delete #{task.title}?" } %>

  </li>
  <% end %>
</ul>
<p><%= link_to "Add a new task", new_task_path %></p>
